<h1>Open connections</h1>

<table>
  
  <tbody>
    <% @connections.each do |connection| %>
      <tr>
       <td><%= connection.name %><br>
       Last updated: <%= connection.updated_at.to_formatted_s(:long)%>
        <td><%= button_to 'Show', connection, :method=> :get %></td>
        <td><%= button_to 'Edit', edit_connection_path(connection), :method=> :get %></td>
        <td><%= button_to 'Delete', connection, data: {:confirm =>'Are you sure?'},:method => :delete %></td></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= button_to 'New Connection', new_connection_path, :method=> :get %>
