<p id="notice"><%= notice %></p>
<h2><%= @connection.name %></h2><ln>

<h3>Phone number:  <%=@connection.phone_number %><h3>
<h3>Email address:  <%=mail_to(@connection.email_address) %><h3>
<h3>Interested in: <%=@connection.interested_in%></h3>
<h3>Department assigned:  <%=@connection.user.ministry%></h3>
<br>
<%= button_to 'Edit', edit_connection_path(@connection), :method => :get%> 
<%= button_to 'Back', connections_path, :method => :get %>



