<p id="notice"><%= notice %></p>
<h2><%= @connection.name %></h2><ln>

<h3>Phone number:  <%=@connection.phone_number %><h3>
<h3>Email address:  <%=mail_to(@connection.email_address) %><h3>
User assigned: <%=@connection.user_id %>
<%= link_to 'Edit', edit_connection_path(@connection)%> |
<%= link_to 'Back', connections_path %>
