<p id="notice"><%= notice %></p>
<h2>Showing assigned connections for <%= @user.first_name%> <%=@user.last_name%><br>
</h2>
Open Connections: <%=@connection.count%>
<br>
<br>
<h3>Assigned:</h3> <br><% @connection.each do |connection| %>
    <tr>
      Visitor: <td><%= connection.name %> <br>
      Email: <%=mail_to(connection.email_address) %><br>
      Phone Number: <%= connection.phone_number %></td><br>
      Last Updated: <%= connection.updated_at.to_formatted_s(:long)%>
            <ln>
    </tr>
    <hr>
    <% end %>
<br>
<br>
<%= button_to 'New Connection', new_connection_path(@connection), :method=> :get %>
<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>


